{% extends "layout.html" %}

{% block body %}
<h1>
  My orders
</h1>
{% for order in orders %}
  <h2>Order: {{ order.id }} - {{ order.date_created }}</h2>
  <ul>
    {% for user in i_have_spent %}
    <li>
      You have spent {{ i_have_spent }} c.
    </li>
    {% endfor %}
  </ul>
  <table class="table">
    <thead>
     <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price in cents</th>
    </tr>
    </thead>
    <tbody>
      {% for product in order.products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
{% endblock %}