{% extends "layout.html" %}

{% block body %}
<h1>
  My orders
</h1>
<h3>You have spent {{ i_have_spent / 100 }} €</h3>
  {% for order in orders %}
    <h2>Order: {{ order.id }} - {{ order.date_created }}</h2>
  <table class="table">
    <thead>
     <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      {% for product in order.products %}
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price / 100 }} €</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
{% endblock %}