{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_login') }}">
	  <legend class="border-bottom mb-4">Login</legend>
	  <div class="form-group">
	    {{ form.username.label }}
	    {{ form.username(class="form-control") }}
	    <small id="help" class="form-text text-muted">Enter your username.</small>
	  </div>
	    <ul>
		{% for error in form.username.errors %}
		  <li>{{ error }}</li>
		{% endfor %}
	    </ul>
	  <div class="form-group">
	    {{ form.password.label }}
	    {{ form.password(class="form-control") }}
	    <small id="help" class="form-text text-muted">Enter your password.</small>
	  </div>
	    <ul>
		{% for error in form.password.errors %}
		  <li>{{ error }}</li>
		{% endfor %}
	    </ul>
      <button type="submit" class="btn btn-primary">Sign in!</button>
</form>
{% endblock %}