{% extends "layout.html" %}

{% block body %}
  <table>
    <!-- <tr>
      <th>Id</th>
      <td></td>
      <th>Name</th>
      <td></td>
      <th>Price</th>
      <th></th>
     --></tr>
    {% for product in products %}
    <tr>
      <ul class="list-group">
        <li class="list-group-item"> Name: {{ product.name }} Price: {{ product.price }}
          <a href="{{ url_for('products_edit', product_id=product.id)}}"> 
            Edit
          </a>
          <a href="{{ url_for('products_remove', product_id=product.id)}}">
            Remove
          </a>
        </li>
      </ul>
    </tr>
    {% endfor %}
  </table>
{% endblock %}