{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <thead>
     <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price / 100 }} €</td>
          <td>
            <a href="{{ url_for('products_edit', product_id=product.id)}}"> 
              Edit
            </a>
          </td>
          <td>
            <a href="{{ url_for('products_remove', product_id=product.id)}}">
              Remove
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>{{ error }}</div>
{% endblock %}